[train]
epoch = 30
batch_size = 12
shuffle = True
reader_num = 0
optimizer = adam
learning_rate = 5e-4
weight_decay = 0
step_size = 1
lr_multiplier = 1
gradient_accumulation_steps = 16
max_grad_norm = 5e-3

[valid]
shuffle = True
reader_num = 0
optimizer = adam
learning_rate = 5e-4
weight_decay = 0
step_size = 1
lr_multiplier = 1

[eval]
batch_size=1
shuffle = False
reader_num = 0

[data]
train_dataset_type = JsonFromFiles
train_formatter_type = BertQA
train_data_path = input
train_file_list = train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = BertQA
valid_data_path = input
valid_file_list = valid.json

test_dataset_type = JsonFromFiles
test_formatter_type = BertQA
test_data_path = input
test_file_list = 0_dev.json

topk = 1
multi_choice = True

max_len1 = 512
max_len2 = 512
reduce=1
reduce_ratio=1

[model]
model_name = Bert

#bert_path = /mnt/data/torchcail/bert-base-chinese
bert_path = F:\bert-base-chinese
hidden_size = 768
num_classes = 15

[output]
output_time = 1
test_time = 1
model_path=bert
model_name=bert
tensorboard_path=tensorboard
output_function = Basic