pandas==1.0.3
jieba==0.42.1
transformers==3.0.2
scikit-learn==0.22.2.post1
falcon==2.0.0
falcon-cors==1.1.7
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lawa==1.2.6
tensorboard==1.14.0
tensorboardX==2.0
tensorflow-gpu==2.3.1
waitress==1.4.4