pandas==1.0.3
jieba==0.42.1
transformers==3.0.2
scikit-learn==0.22.2.post1
torchsnooper==0.8
bitarray==0.8.3
boto==2.49.0
boto3==1.16.13
botocore==1.19.13
certifi==2020.11.8
cffi==1.11.5
chardet==3.0.4
docutils==0.14
entrypoints==0.2.3
et-xmlfile==1.0.1
falcon==2.0.0
falcon-cors==1.1.7
fastcache==1.0.2
fastrlock==0.4
fire==0.3.1
Flask==1.0.2
Flask-APScheduler==1.11.0
Flask-Cache==0.13.1
Flask-Compress==1.4.0
Flask-Cors==3.0.6
Flask-JSON==0.3.4
Flask-Limiter==1.0.1
Flask-Script==2.0.6
funcsigs==1.0.2
gast==0.2.2
gensim==3.8.0
gevent==1.3.6
glob2==0.6
google-pasta==0.1.8
GPUtil==1.4.0
greenlet==0.4.15
grpcio==1.27.2
gunicorn==19.9.0
gym==0.14.0
h5py==2.10.0
heapdict==1.0.0
html5lib==1.0.1
hyperlink==18.0.0
imageio==2.9.0
imagesize==1.1.0
imgaug==0.4.0
incremental==17.5.0
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.1
isort==4.3.4
itsdangerous==0.24
jdcal==1.4
jedi==0.12.1
jeepney==0.3.1
Jinja2==2.10
jmespath==0.9.4
joblib==0.17.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.34.9
jupyterlab-launcher==0.13.1
jwt==0.6.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==13.2.1
kiwisolver==1.0.1
lawa==1.2.6
lazy-object-proxy==1.3.1
limits==1.3
llvmlite==0.24.0
lmdb==1.0.0
locket==0.2.0
lxml==4.2.5
Markdown==3.2.1
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
mistune==0.8.3
mkl-fft==1.0.6
mkl-random==1.0.1
mock==3.0.5
more-itertools==4.3.0
mpmath==1.0.0
msgpack==0.5.6
multipledispatch==0.6.0
nbconvert==5.4.0
nbformat==4.4.0
neobolt==1.7.13
neotime==1.7.4
networkx==2.1
nltk==3.3
nose==1.3.7
notebook==5.6.0
numba==0.39.0
numexpr==2.6.8
numpydoc==0.8.0
odo==0.5.0
olefile==0.46
openpyxl==2.5.6
opt-einsum==3.1.0
pandocfilters==1.4.2
parso==0.3.1
partd==0.3.8
path.py==11.1.0
pathlib2==2.3.2
patsy==0.5.0
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.4
pkginfo==1.4.2
pluggy==0.7.1
ply==3.11
prometheus-client==0.3.1
prompt-toolkit==1.0.18
protobuf==3.11.3
psutil==5.4.7
ptyprocess==0.6.0
py==1.6.0
py2neo==4.3.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pybind11==2.4.3
pyclipper==1.1.0.post3
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pyflakes==2.0.0
pyglet==1.3.2
Pygments==2.3.1
PyHamcrest==1.9.0
pylint==2.1.1
pyOpenSSL==18.0.0
PySocks==1.6.8
pytest==3.8.0
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
python-crfsuite==0.9.6
python-Levenshtein==0.12.0
pytorch-pretrained-bert==0.6.2
pytz==2018.5
PyWavelets==1.1.1
PyYAML==3.13
pyzmq==17.1.2
QtAwesome==0.4.4
qtconsole==4.4.1
QtPy==1.5.0
redis==3.3.8
regex==2020.5.14
requests==2.24.0
rope==0.11.0
ruamel-yaml==0.15.46
s3transfer==0.3.3
scikit-image==0.17.2
seaborn==0.9.0
SecretStorage==3.1.0
Send2Trash==1.5.0
sentencepiece==0.1.91
service-identity==17.0.0
Shapely==1.7.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sklearn-crfsuite==0.3.6
smart-open==1.8.4
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.0.5
Sphinx==1.7.9
sphinxcontrib-websupport==1.1.0
spyder==3.3.1
spyder-kernels==0.2.6
SQLAlchemy==1.2.11
statsmodels==0.9.0
sympy==1.2
tables==3.4.4
tabulate==0.8.6
tblib==1.3.2
tensorboard==1.14.0
tensorboardX==2.0
tensorflow-gpu==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
thulac==0.2.1
tifffile==2020.9.3
tokenizers==0.8.1rc1
toolz==0.9.0
tornado==5.1
tqdm==4.46.0
traitlets==4.3.2
tzlocal==2.0.0
ujson==3.0.0
unicodecsv==0.14.1
waitress==2.1.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.4.1
wrapt==1.12.0
xgboost==1.0.2
xlrd==1.1.0
XlsxWriter==1.1.0
xlutils==2.0.0
xlwt==1.3.0
zict==0.1.3
zope.interface==4.5.0
