[train] #train parameters
epoch = 128
batch_size = 1

shuffle = True

reader_num = 16

optimizer = adam
learning_rate = 1e-3
step_size = 1
lr_multiplier = 1

[eval] #eval parameters
batch_size = 1

shuffle = False

reader_num = 16

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = ComatchQA
train_data_path = /data/disk3/private/zhx/jecqa/data/cutted/v1
train_file_list = 0_train.json,1_train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = ComatchQA
valid_data_path = /data/disk3/private/zhx/jecqa/data/cutted/v1
valid_file_list = 0_test.json,1_test.json

test_formatter_type = ComatchQA

topk = 18
multi_choice = True

word2id = /data/disk3/private/zhx/jecqa/data/word2id.txt
sent_max_len = 50
max_sent = 50


[model] #model parameters
model_name = Comatch

hidden_size = 150

dropout = 0.2

[output] #output parameters
model_path = /data/disk3/private/zhx/jecqa/model/all/multi
model_name = Comatch

tensorboard_path = /data/disk3/private/zhx/jecqa/tensorboard

output_function = Basic
