[train]
epoch = 4
batch_size = 1
shuffle = True

reader_num = 0

optimizer = adam
learning_rate = 1e-3
weight_decay = 0
step_size = 1
lr_multiplier = 1

[valid]
shuffle = True

reader_num = 0

optimizer = adam
learning_rate = 1e-3
weight_decay = 0
step_size = 1
lr_multiplier = 1

[eval]
batch_size=1
shuffle = False
reader_num = 0

[data]
train_dataset_type = JsonFromFiles
train_formatter_type = BertQA
train_data_path = input
train_file_list = 0_dev.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = BertQA
valid_data_path = input
valid_file_list = 0_dev.json

test_dataset_type = JsonFromFiles
test_formatter_type = BertQA
test_data_path = input
test_file_list = 0_test.json

topk = 1
multi_choice = True

max_len1 = 64
max_len2 = 192
reduce=1
reduce_ratio=1

[model]
model_name = BertCNN

#bert_path = /mnt/data/torchcail/bert-base-chinese
bert_path = F:\bert-base-chinese
hidden_size = 768


[output]
output_time = 1
test_time = 1
model_path=saved_model
model_name=trainm.model
tensorboard_path=tensorboard
output_function = Basic